body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    justify-content: center;
    background: linear-gradient(to top, #264653, #2a9d8f) no-repeat; 
}

header {
    width: 250px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;

}

header h1 {
    height: 30px;
    color: #FFFFFF;
    grid-column: span 2;
}

.icon1 {
    position: absolute;
    width: 70px;
    left: 1%;
    top: 1%;
}
.icon2 {
    position: absolute;
    width: 70px;
    left: 8%;
    top: 1%;
}

.title {
    font-family: 'Comic Neue', cursive;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Tektur', cursive;
    font-family: 'Ubuntu', sans-serif;
}

.floor {
    position: absolute;
    height: 50px;
    width: 500px;
    left: 50%;
    top: 80%;
    background: radial-gradient(#264653, rgb(39,84,0) 100%);
    border-radius: 100%;
    transform: translatex(-50%);
    animation: shadow 1.4s infinite ease-in-out;
}

.ball {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 35%;
    background: linear-gradient(45deg, #e76f51 45%, #f4a261 70%, white 95%) no-repeat;
    border-radius: 100%;
    transform: translatex(-50%);
    margin-left: 50%;
    animation: bounce 1.25s infinite ease-in-out;
    z-index: 1;
}

@keyframes bounce {
    0% {
        top: 35%;
    }
    35% {
        width: 80px;
    }
    40% {
        width: 80px;
    }
    50% { 
        top: 72%;
        width: 90px;
    }
    60% {
        width: 90px;
    }
    75% {
        width: 80px;
    }
    100% {
        top: 35%;
    }
}

@keyframes shadow {
    0% {
        background: radial-gradient(#264653 0%, #2a9d8f);
    }
    25% {
        background: radial-gradient(#264653 5%, #2a9d8f);
    }
    50% {
        background: radial-gradient(#264653 10%, #2a9d8f);
    }
    75% {
        background: radial-gradient(#264653 5%, #2a9d8f);
    }
    100% {
        background: radial-gradient(#264653 0%, #2a9d8f);
    }
}